POSTGRES_USER=pop_talk_platform
POSTGRES_PASSWORD=replace-with-a-generated-password
POSTGRES_DB=pop_talk_platform
POSTGRES_PORT=55433
POSTGRES_VOLUME_NAME=pop-talk-data-platform_postgres_data
APPLICATION_NETWORK=pop-talk-application_default
