apache-airflow==3.3.1
apache-airflow-providers-amazon
apache-airflow-providers-databricks
apache-airflow-providers-postgres
apache-airflow-providers-snowflake
astronomer-cosmos==1.15.1
psycopg[binary]==3.3.5
